*{
    margin: 0;
}
.border{

    border: 1px solid black;
    height: 50px;
}

.parentbox{
    min-height: 600px;
    width: 70%;

    background-color: blueviolet;
}
.box1{

    width: 50%;
    height: 100px;
    background-color: green;
}

.box2{
    width: 75%;
    height: 100px;
    background-color: blue;
}
.box3{
    width: 100vw;
    height: 100px;
    background-color: brown;
}
.box4{
    width:50vw;
    height: 100px;
    background-color: pink;
}
.box5{
    width: 400px;
    height: 100px;
    background-color: chocolate;
}