
    

.card-group{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
.border{
    border: 1px solid brown;
}
.card-image>img{
    width: 100%;
}
.card{
    width: 30%;
    min-height: 700px;
    padding: 10px;
    background-color: #ffc75f;
    border-radius: 10px;
}
.card-body >p{
    line-height: 25px;
    text-align: justify;
}

.card-button{
    display: flex;
    justify-content: space-between;
    height: 30px
    ;
}  
.card-footer{
    display: flex;
    justify-content: space-between;
    
} 

